#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2


/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// -----------------------------------------------------------------------------------------
// | SW5  | SW4  | SW3  | SW2  | SW1  |                 | SW1  | SW2  | SW3  | SW4  | SW5  |
// | SW10 | SW9  | SW8  | SW7  | SW6  |                 | SW6  | SW7  | SW8  | SW9  | SW10 |
// | SW15 | SW14 | SW13 | SW12 | SW11 |                 | SW11 | SW12 | SW13 | SW14 | SW15 |
//               | ENC  | SW17 | SW16 |                 | SW16 | SW17 | ENC  |
            bindings = <
    &kp Q    &kp W    &kp E       &kp R           &kp T                               &kp Y            &kp U               &kp I        &kp O     &kp P
    &kp A    &kp S    &kp D       &kp F           &kp G                               &kp H            &kp J               &kp K        &kp L     &kp BSPC
    &kp Z    &kp X    &kp C       &kp V           &kp B                               &kp N            &kp M               &kp COMMA    &kp DOT   &kp FSLH
                      &kp C_MUTE  &kp LSHIFT      &lt LOWER ENTER                     &mt LCTRL SPACE  &lt RAISE RGUI      &kp C_PP
            >;
            sensor-bindings = <
            &inc_dec_kp C_VOL_UP C_VOL_DN
            &inc_dec_kp C_NEXT C_PREV
            >;
        };

        raise_layer {
// ------------------------------------                                                     ------------------------------------
// | !  | @  | #  | $  | %  |                                                               |  ^  |  &  |  *  | (  | )  |
// | TAB | LEFT  | UP  | RIGHT  | TRANS  |                                                     | -  | =  | ~ | [  | ] |
// | ESC | GRAVE | DOWN | L ALT | PRINT SCREEN |                                                     | _ | + | "|" | { | } |
//               | ENC  | SW17 | SW16 |                                                     | SW16 | SW17 | ENC  |
            bindings = <
    &kp EXCL  &kp AT        &kp HASH     &kp DLLR     &kp PRCNT                       &kp CARET          &kp AMPS            &kp KP_MULTIPLY     &kp LPAR     &kp RPAR
    &kp TAB   &kp LEFT      &kp UP       &kp RIGHT    &trans                          &kp MINUS          &kp EQUAL           &kp TILDE           &kp LBKT     &kp RBKT
    &kp ESC   &kp GRAVE     &kp DOWN     &kp LALT     &kp PSCRN                       &kp UNDER          &kp PLUS            &kp PIPE            &kp LBRC     &kp RBRC
                            &kp C_MUTE   &kp LSHIFT   &kp LALT                        &mt LCTRL SPACE    &lt RAISE RGUI      &kp C_PP
            >;
            sensor-bindings = <
                &inc_dec_kp LC(TAB) LS(LC(TAB))
                &inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN
            >;
        };

        lower_layer {
// ___________________________________________                                                              ________________________________________________
// | BT1    | BT2  | BT3  | BT4  | BT5  |                                                                   | SW1           | SW2   | SW3   | SW4   | SW5  |
// | 1      | 2    | 3    | 4    | 5  |                                                                     | 6             | 7     | 8     | 9     | 10   |
// | BT CLR | SW14 | SW13 | SW12 | BOOTLOADER |                                                             | BOOTLOADER    | SW12  | SW13  | SW14  | SW15 |
//                 | ENC  | SW17 | SW16 |                                                                   | SW16          | SW17  | ENC   | 
            bindings = <
    &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4                          &trans          &trans     &trans      &trans    &trans
    &kp N1          &kp N2          &kp N3           &kp N4           &kp N5                                &kp N6          &kp N7     &kp N8      &kp N9    &kp N0
    &bt BT_CLR      &trans          &trans           &trans           &bootloader                           &bootloader     &trans      &trans     &trans    &trans
                                    &trans           &trans           &trans                                &trans          &trans      &trans
            >;
            sensor-bindings = <
                &inc_dec_kp LC(TAB) LS(LC(TAB))
                &inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN
            >;
        };
    };

};